[submodule "JCSG"]
	path = JCSG
	url = https://github.com/ThreeCSG/JCSG.git
[submodule "java-bowler"]
	path = java-bowler
	url = https://github.com/NeuronRobotics/java-bowler.git
[submodule "CHDK-PTP-Java"]
	path = CHDK-PTP-Java
	url = https://github.com/acamilo/CHDK-PTP-Java.git
[submodule "WalnutiQ"]
	path = WalnutiQ
	url = git@github.com:NeuronRobotics/WalnutiQ.git
