language: java
install:
  - sudo add-apt-repository ppa:webupd8team/java -y
  - sudo add-apt-repository ppa:mad-hephaestus/commonwealthrobotics -y
  - sudo apt-get update -qq
  - sudo apt-get install -y --force-yes gradle  bowlerstudio oracle-java8-set-default oracle-java8-installer arduino-ide
  
  
  
script:
  - gradle compileJava   
cache:
  directories:
  - $HOME/.m2

jdk:
  - oraclejdk8

# for running tests on Travis CI container infrastructure for faster builds
sudo: true
dist: xenial
