/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28.03.2014, 23:11:29
    Author     : Michael Hoffer &lt;info@michaelhoffer.de&gt;
*/

.keyword {
    -fx-fill: brown;
    -fx-font-weight: bold;
}